.row{
	margin-right: 0;
}
.dog{
	background: red;
}
.card img {
	/*height: 300px;*/
}

.card{
	border: none;
	box-shadow: "0 0.5rem 1rem rgb(0 0 0 / 15%)";
	width: 500px;
	height: 100%;
}
#card{
	margin-right: 15px;
	max-width: 500px;
	padding: 0;
}
h5{
	color: #000;
	font-size: 24px;
	text-align: center;
    background: #c6c6c6;
}
@media all and (max-width: 660px){
	#card{
		margin-right: 0;
	}
	.card{
		width: 350px;
	}
}
@media all and (max-width: 500px){

	.card{
		min-width: 250px;
		max-width: 500px;
	}
}